{% extends 'main.html' %}
{% load bootstrap4 %}
{%block content %}
<body>
    <div class="container">
        <br>
        <br>
         <br>
        <h3>Add new Task</h3>
        <form method="POST" action="{% url 'add_todo' %}" class="form" autocomplete="off">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button class="btn btn-dark" type="submit">add ToDo</button>
        {% endbuttons %}
     </form>
    </div>
</body>
</html>
{%endblock content %}